In [1]:
import pandas as pd


%load_ext autoreload
%autoreload 2
import utils

import warnings
warnings.filterwarnings("ignore")

In [2]:
df_reviews = pd.read_csv('data/user_review_limpio.csv', encoding='utf-8')

In [38]:
df_games = pd.read_csv('data/steam_games_limpio.csv', encoding='utf-8')

In [ ]:
df_items = pd.read_csv('data/user_items_limpio.csv', encoding='utf-8')

In [3]:
df_reviews

,user_id,user_url,reviews_item_id,reviews_helpful,reviews_recommend,reviews_date,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,No ratings yet,True,2011-11-05,1
1,js41637,http://steamcommunity.com/id/js41637,251610,15 of 20 people (75%) found this review helpful,True,2014-06-24,1
2,evcentric,http://steamcommunity.com/id/evcentric,248820,No ratings yet,True,Formato inválido,2
3,doctr,http://steamcommunity.com/id/doctr,250320,2 of 2 people (100%) found this review helpful,True,2013-10-14,2
4,maplemage,http://steamcommunity.com/id/maplemage,211420,35 of 43 people (81%) found this review helpful,True,2014-04-15,1
...,...,...,...,...,...,...,...
57392,How51,http://steamcommunity.com/id/How51,440,No ratings yet,True,2014-08-15,1
57393,76561198111410893,http://steamcommunity.com/profiles/76561198111...,304930,No ratings yet,True,2014-08-02,1
57394,zaza147,http://steamcommunity.com/id/zaza147,265630,No ratings yet,True,2015-07-31,2
57395,lifeonhigh,http://steamcommunity.com/id/lifeonhigh,304050,No ratings yet,True,2015-12-20,1
57396,EchoXSilence,http://steamcommunity.com/id/EchoXSilence,570,0 of 2 people (0%) found this review helpful,False,Formato inválido,1

In [4]:
df_reviews[df_reviews['reviews_item_id']=='733530']

Empty DataFrame
Columns: [user_id, user_url, reviews_item_id, reviews_helpful, reviews_recommend, reviews_date, sentiment_analysis]
Index: []

In [10]:
df_games.tail(20)

,genres,price,early_access,id,release_anio,publisher,app_name,title,developer
71531,Indie,14.99,False,747320,2018,INGAME,Bravium,Bravium,INGAME
71532,RPG,14.99,False,747320,2018,INGAME,Bravium,Bravium,INGAME
71533,Casual,0.00,False,769330,2018,Riviysky,BAE 2,BAE 2,Riviysky
71534,Indie,0.00,False,769330,2018,Riviysky,BAE 2,BAE 2,Riviysky
71535,Action,1.99,False,745400,2018,Bidoniera Games,Kebab it Up!,Kebab it Up!,Bidoniera Games
71536,Adventure,1.99,False,745400,2018,Bidoniera Games,Kebab it Up!,Kebab it Up!,Bidoniera Games
71537,Casual,1.99,False,745400,2018,Bidoniera Games,Kebab it Up!,Kebab it Up!,Bidoniera Games
71538,Indie,1.99,False,745400,2018,Bidoniera Games,Kebab it Up!,Kebab it Up!,Bidoniera Games
71539,Casual,1.99,False,773640,2018,Ghost_RUS Games,Colony On Mars,Colony On Mars,"Nikita ""Ghost_RUS"""
71540,Indie,1.99,False,773640,2018,Ghost_RUS Games,Colony On Mars,Colony On Mars,"Nikita ""Ghost_RUS"""
71541,Simulation,1.99,False,773640,2018,Ghost_RUS Games,Colony On Mars,Colony On Mars,"Nikita ""Ghost_RUS"""
71542,Strategy,1.99,False,773640,2018,Ghost_RUS Games,Colony On Mars,Colony On Mars,"Nikita ""Ghost_RUS"""
71543,Casual,4.99,False,733530,2018,Sacada,LOGistICAL: South Africa,LOGistICAL: South Africa,Sacada
71544,Indie,4.99,False,733530,2018,Sacada,LOGistICAL: South Africa,LOGistICAL: South Africa,Sacada
71545,Strategy,4.99,False,733530,2018,Sacada,LOGistICAL: South Africa,LOGistICAL: South Africa,Sacada
71546,Indie,1.99,False,610660,2018,Laush Studio,Russian Roads,Russian Roads,Laush Dmitriy Sergeevich
71547,Racing,1.99,False,610660,2018,Laush Studio,Russian Roads,Russian Roads,Laush Dmitriy Sergeevich
71548,Simulation,1.99,False,610660,2018,Laush Studio,Russian Roads,Russian Roads,Laush Dmitriy Sergeevich
71549,Casual,4.99,False,658870,2017,SIXNAILS,EXIT 2 - Directions,EXIT 2 - Directions,"xropi,stev3ns"
71550,Indie,4.99,False,658870,2017,SIXNAILS,EXIT 2 - Directions,EXIT 2 - Directions,"xropi,stev3ns"

In [55]:
df_games[df_games['id']==1250]

,genres,price,early_access,id,release_anio,publisher,app_name,title,developer
70729,Action,19.99,False,1250,2009,Tripwire Interactive,Killing Floor,Killing Floor,Tripwire Interactive

In [17]:
df_items.head(20)

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id
0,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479
1,20,Team Fortress Classic,0,0,76561197970982479,277,76561197970982479
2,30,Day of Defeat,7,0,76561197970982479,277,76561197970982479
3,40,Deathmatch Classic,0,0,76561197970982479,277,76561197970982479
4,50,Half-Life: Opposing Force,0,0,76561197970982479,277,76561197970982479
5,60,Ricochet,0,0,76561197970982479,277,76561197970982479
6,70,Half-Life,0,0,76561197970982479,277,76561197970982479
7,130,Half-Life: Blue Shift,0,0,76561197970982479,277,76561197970982479
8,300,Day of Defeat: Source,4733,0,76561197970982479,277,76561197970982479
9,240,Counter-Strike: Source,1853,0,76561197970982479,277,76561197970982479
10,3830,Psychonauts,333,0,76561197970982479,277,76561197970982479
11,2630,Call of Duty 2,75,0,76561197970982479,277,76561197970982479
12,3900,Sid Meier's Civilization IV,338,0,76561197970982479,277,76561197970982479
13,34440,Sid Meier's Civilization IV,0,0,76561197970982479,277,76561197970982479
14,3920,Sid Meier's Pirates!,2,0,76561197970982479,277,76561197970982479
15,6400,Joint Task Force,286,0,76561197970982479,277,76561197970982479
16,6910,Deus Ex: Game of the Year Edition,2685,0,76561197970982479,277,76561197970982479
17,7670,BioShock,633,0,76561197970982479,277,76561197970982479
18,409710,BioShock Remastered,0,0,76561197970982479,277,76561197970982479
19,220,Half-Life 2,696,0,76561197970982479,277,76561197970982479

In [53]:
#/658870/EXIT_2__Directions/'
df_items[df_items['item_id']==658870]

Empty DataFrame
Columns: [item_id, item_name, playtime_forever, playtime_2weeks, steam_id, items_count, user_id]
Index: []

## Cantidad de items por usuario

Se extraen las columnas 'items_count' y 'user_id' del dataframe `df_items` y se eliminan los duplicados. Luego se agrega

In [21]:
# Se extraen las columnas 'items_count' y 'user_id'
df_cant_items = df_items[['items_count', 'user_id']]
# Se eliminan duplicados
df_cant_items = df_cant_items.drop_duplicates(subset='user_id', keep='first')
df_cant_items

         items_count            user_id
0                277  76561197970982479
277              888            js41637
1165             137          evcentric
1302             328         Riot-Punch
1630             541              doctr
...              ...                ...
5152678          321  76561198320136420
5152999            4          ArkPlays7
5153003           22  76561198323066619
5153025          177  76561198326700687
5153202            7  76561198329548331

[70912 rows x 2 columns]

Se verifica que ya no existan duplicados.

In [22]:
utils.verifica_duplicados_por_columna(df_cant_items, 'user_id')

'No hay duplicados'

Se une el 'items_count' al dataframe `df_reviews`.

In [23]:
df_reviews = df_reviews.merge(df_cant_items, on='user_id', how='left')
df_reviews.head()

,user_id,user_url,reviews_item_id,reviews_helpful,reviews_recommend,reviews_date,sentiment_analysis,items_count
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,No ratings yet,True,2011-11-05,1,277.0
1,js41637,http://steamcommunity.com/id/js41637,251610,15 of 20 people (75%) found this review helpful,True,2014-06-24,1,888.0
2,evcentric,http://steamcommunity.com/id/evcentric,248820,No ratings yet,True,Formato inválido,2,137.0
3,doctr,http://steamcommunity.com/id/doctr,250320,2 of 2 people (100%) found this review helpful,True,2013-10-14,2,541.0
4,maplemage,http://steamcommunity.com/id/maplemage,211420,35 of 43 people (81%) found this review helpful,True,2014-04-15,1,629.0

In [25]:
df_reviews[df_reviews['items_count'].isnull()]

,user_id,user_url,reviews_item_id,reviews_helpful,reviews_recommend,reviews_date,sentiment_analysis,items_count
5,Wackky,http://steamcommunity.com/id/Wackky,249130,7 of 8 people (88%) found this review helpful,True,2014-05-05,0,NaN
6,76561198079601835,http://steamcommunity.com/profiles/76561198079...,730,0 of 1 people (0%) found this review helpful,True,Formato inválido,1,NaN
21,starkillershadow553,http://steamcommunity.com/id/starkillershadow553,238090,1 of 2 people (50%) found this review helpful,True,2015-02-04,1,NaN
54,lucaswerg,http://steamcommunity.com/id/lucaswerg,218620,2 of 3 people (67%) found this review helpful,True,2014-07-11,1,NaN
70,76561198010674657,http://steamcommunity.com/profiles/76561198010...,377160,3 of 4 people (75%) found this review helpful,False,Formato inválido,1,NaN
...,...,...,...,...,...,...,...,...
57377,Zordick,http://steamcommunity.com/id/Zordick,233270,No ratings yet,True,2014-05-16,2,NaN
57382,Skye04,http://steamcommunity.com/id/Skye04,213610,No ratings yet,True,2014-12-24,1,NaN
57387,bmayall,http://steamcommunity.com/id/bmayall,232010,No ratings yet,True,2013-12-07,1,NaN
57391,kushikushigani,http://steamcommunity.com/id/kushikushigani,332310,No ratings yet,True,2015-12-30,1,NaN
57393,76561198111410893,http://steamcommunity.com/profiles/76561198111...,304930,No ratings yet,True,2014-08-02,1,NaN

In [24]:
utils.verificar_tipo_datos(df_reviews)

         nombre_campo         tipo_datos  no_nulos_%  nulos_%  nulos
0             user_id    [<class 'str'>]      100.00     0.00      0
1            user_url    [<class 'str'>]      100.00     0.00      0
2     reviews_item_id    [<class 'int'>]      100.00     0.00      0
3     reviews_helpful    [<class 'str'>]      100.00     0.00      0
4   reviews_recommend   [<class 'bool'>]      100.00     0.00      0
5        reviews_date    [<class 'str'>]      100.00     0.00      0
6  sentiment_analysis    [<class 'int'>]      100.00     0.00      0
7         items_count  [<class 'float'>]       89.05    10.95   6287

Hay usuarios que no tienen registrados la cantidad de items.

## Genres, price, release_anio y developer

In [64]:
# Se extraen las columnas 'items_count' y 'user_id'
df_genres_price_anio_develop = df_games[['genres', 'price', 'release_anio', 'developer', 'id']]
# Se renombra 'item_id' por 'id' para unir mas adelante
df_genres_price_anio_develop = df_genres_price_anio_develop.rename(columns={'id':'reviews_item_id'})
df_genres_price_anio_develop

,genres,price,release_anio,developer,reviews_item_id
0,Action,4.99,2018,Kotoshiro,761140
1,Casual,4.99,2018,Kotoshiro,761140
2,Indie,4.99,2018,Kotoshiro,761140
3,Simulation,4.99,2018,Kotoshiro,761140
4,Strategy,4.99,2018,Kotoshiro,761140
...,...,...,...,...,...
71546,Indie,1.99,2018,Laush Dmitriy Sergeevich,610660
71547,Racing,1.99,2018,Laush Dmitriy Sergeevich,610660
71548,Simulation,1.99,2018,Laush Dmitriy Sergeevich,610660
71549,Casual,4.99,2017,"xropi,stev3ns",658870
71550,Indie,4.99,2017,"xropi,stev3ns",658870

#### Merge con `df_reviews`

In [65]:
df_reviews = df_reviews.merge(df_genres_price_anio_develop, on='reviews_item_id', how='left')
df_reviews.head()

,user_id,user_url,reviews_item_id,reviews_helpful,reviews_recommend,reviews_date,sentiment_analysis,items_count,genres,price,release_anio,developer
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,No ratings yet,True,2011-11-05,1,277.0,Action,19.99,2009,Tripwire Interactive
1,js41637,http://steamcommunity.com/id/js41637,251610,15 of 20 people (75%) found this review helpful,True,2014-06-24,1,888.0,NaN,NaN,NaN,NaN
2,evcentric,http://steamcommunity.com/id/evcentric,248820,No ratings yet,True,Formato inválido,2,137.0,Action,9.99,2013,"Hopoo Games, LLC"
3,evcentric,http://steamcommunity.com/id/evcentric,248820,No ratings yet,True,Formato inválido,2,137.0,Indie,9.99,2013,"Hopoo Games, LLC"
4,evcentric,http://steamcommunity.com/id/evcentric,248820,No ratings yet,True,Formato inválido,2,137.0,RPG,9.99,2013,"Hopoo Games, LLC"

In [66]:
utils.verificar_tipo_datos(df_reviews)

,nombre_campo,tipo_datos,no_nulos_%,nulos_%,nulos
0,user_id,[<class 'str'>],100.00,0.00,0
1,user_url,[<class 'str'>],100.00,0.00,0
2,reviews_item_id,[<class 'int'>],100.00,0.00,0
3,reviews_helpful,[<class 'str'>],100.00,0.00,0
4,reviews_recommend,[<class 'bool'>],100.00,0.00,0
5,reviews_date,[<class 'str'>],100.00,0.00,0
6,sentiment_analysis,[<class 'int'>],100.00,0.00,0
7,items_count,[<class 'float'>],89.18,10.82,14140
8,genres,"[<class 'str'>, <class 'float'>]",93.44,6.56,8571
9,price,[<class 'float'>],93.44,6.56,8571
10,release_anio,"[<class 'str'>, <class 'float'>]",93.44,6.56,8571
11,developer,"[<class 'str'>, <class 'float'>]",93.44,6.56,8571

In [67]:
df_reviews[df_reviews['genres'].isnull()]

,user_id,user_url,reviews_item_id,reviews_helpful,reviews_recommend,reviews_date,sentiment_analysis,items_count,genres,price,release_anio,developer
1,js41637,http://steamcommunity.com/id/js41637,251610,15 of 20 people (75%) found this review helpful,True,2014-06-24,1,888.0,NaN,NaN,NaN,NaN
12,76561198089393905,http://steamcommunity.com/profiles/76561198089...,72850,3 of 3 people (100%) found this review helpful,True,2015-02-01,0,103.0,NaN,NaN,NaN,NaN
30,76561198043472122,http://steamcommunity.com/profiles/76561198043...,33440,1 of 3 people (33%) found this review helpful,False,2014-12-19,0,88.0,NaN,NaN,NaN,NaN
47,76561198066046412,http://steamcommunity.com/profiles/76561198066...,359320,4 of 5 people (80%) found this review helpful,False,2015-12-28,0,48.0,NaN,NaN,NaN,NaN
51,76561198070565427,http://steamcommunity.com/profiles/76561198070...,218620,No ratings yet,True,Formato inválido,1,75.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
130555,76561198082266976,http://steamcommunity.com/profiles/76561198082...,222900,3 of 8 people (38%) found this review helpful,False,2014-12-17,1,74.0,NaN,NaN,NaN,NaN
130589,76561198093736412,http://steamcommunity.com/profiles/76561198093...,219740,No ratings yet,True,2014-10-19,0,20.0,NaN,NaN,NaN,NaN
130590,76561198093918831,http://steamcommunity.com/profiles/76561198093...,226980,No ratings yet,True,2013-07-24,2,1.0,NaN,NaN,NaN,NaN
130594,mamat08,http://steamcommunity.com/id/mamat08,219740,No ratings yet,True,2013-09-08,1,20.0,NaN,NaN,NaN,NaN
130632,EchoXSilence,http://steamcommunity.com/id/EchoXSilence,570,0 of 2 people (0%) found this review helpful,False,Formato inválido,1,23.0,NaN,NaN,NaN,NaN

In [68]:
# SColumnas a transformar
columnas_a_completar = ['genres', 'release_anio', 'developer']
# Se rellenan los nulos
df_relleno = df_reviews[columnas_a_completar].fillna('Sin dato disponible')
# Se borran las columnas originales y se concatenan las rellenas con todo el dataframe
df_reviews = pd.concat([df_reviews.drop(columnas_a_completar, axis=1), df_relleno], axis=1)
df_reviews.head()

,user_id,user_url,reviews_item_id,reviews_helpful,reviews_recommend,reviews_date,sentiment_analysis,items_count,price,genres,release_anio,developer
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,No ratings yet,True,2011-11-05,1,277.0,19.99,Action,2009,Tripwire Interactive
1,js41637,http://steamcommunity.com/id/js41637,251610,15 of 20 people (75%) found this review helpful,True,2014-06-24,1,888.0,NaN,Sin dato disponible,Sin dato disponible,Sin dato disponible
2,evcentric,http://steamcommunity.com/id/evcentric,248820,No ratings yet,True,Formato inválido,2,137.0,9.99,Action,2013,"Hopoo Games, LLC"
3,evcentric,http://steamcommunity.com/id/evcentric,248820,No ratings yet,True,Formato inválido,2,137.0,9.99,Indie,2013,"Hopoo Games, LLC"
4,evcentric,http://steamcommunity.com/id/evcentric,248820,No ratings yet,True,Formato inválido,2,137.0,9.99,RPG,2013,"Hopoo Games, LLC"

In [69]:
utils.verificar_tipo_datos(df_reviews)

          nombre_campo         tipo_datos  no_nulos_%  nulos_%  nulos
0              user_id    [<class 'str'>]      100.00     0.00      0
1             user_url    [<class 'str'>]      100.00     0.00      0
2      reviews_item_id    [<class 'int'>]      100.00     0.00      0
3      reviews_helpful    [<class 'str'>]      100.00     0.00      0
4    reviews_recommend   [<class 'bool'>]      100.00     0.00      0
5         reviews_date    [<class 'str'>]      100.00     0.00      0
6   sentiment_analysis    [<class 'int'>]      100.00     0.00      0
7          items_count  [<class 'float'>]       89.18    10.82  14140
8                price  [<class 'float'>]       93.44     6.56   8571
9               genres    [<class 'str'>]      100.00     0.00      0
10        release_anio    [<class 'str'>]      100.00     0.00      0
11           developer    [<class 'str'>]      100.00     0.00      0

#### Merge con `df_items`

In [71]:
# Se renombra 'reviews_item_id' por 'item_id' para unir mas adelante
df_genres_price_anio_develop = df_genres_price_anio_develop.rename(columns={'reviews_item_id':'item_id'})
# Se une con 'df_items'
df_items = df_items.merge(df_genres_price_anio_develop, on='item_id', how='left')
df_items.head()

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,genres,price,release_anio,developer
0,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,Action,9.99,2000,Valve
1,20,Team Fortress Classic,0,0,76561197970982479,277,76561197970982479,Action,4.99,1999,Valve
2,30,Day of Defeat,7,0,76561197970982479,277,76561197970982479,Action,4.99,2003,Valve
3,40,Deathmatch Classic,0,0,76561197970982479,277,76561197970982479,Action,4.99,2001,Valve
4,50,Half-Life: Opposing Force,0,0,76561197970982479,277,76561197970982479,Action,4.99,1999,Gearbox Software

In [72]:
utils.verificar_tipo_datos(df_items)

,nombre_campo,tipo_datos,no_nulos_%,nulos_%,nulos
0,item_id,[<class 'int'>],100.00,0.00,0
1,item_name,[<class 'str'>],100.00,0.00,0
2,playtime_forever,[<class 'int'>],100.00,0.00,0
3,playtime_2weeks,[<class 'int'>],100.00,0.00,0
4,steam_id,[<class 'int'>],100.00,0.00,0
5,items_count,[<class 'int'>],100.00,0.00,0
6,user_id,[<class 'str'>],100.00,0.00,0
7,genres,"[<class 'str'>, <class 'float'>]",91.33,8.67,948396
8,price,[<class 'float'>],91.33,8.67,948396
9,release_anio,"[<class 'str'>, <class 'float'>]",91.33,8.67,948396
10,developer,"[<class 'str'>, <class 'float'>]",91.33,8.67,948396

In [73]:
# SColumnas a transformar
columnas_a_completar = ['genres', 'release_anio', 'developer']
# Se rellenan los nulos
df_relleno = df_items[columnas_a_completar].fillna('Sin dato disponible')
# Se borran las columnas originales y se concatenan las rellenas con todo el dataframe
df_items = pd.concat([df_items.drop(columnas_a_completar, axis=1), df_relleno], axis=1)
df_items

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,price,genres,release_anio,developer
0,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,9.99,Action,2000,Valve
1,20,Team Fortress Classic,0,0,76561197970982479,277,76561197970982479,4.99,Action,1999,Valve
2,30,Day of Defeat,7,0,76561197970982479,277,76561197970982479,4.99,Action,2003,Valve
3,40,Deathmatch Classic,0,0,76561197970982479,277,76561197970982479,4.99,Action,2001,Valve
4,50,Half-Life: Opposing Force,0,0,76561197970982479,277,76561197970982479,4.99,Action,1999,Gearbox Software
...,...,...,...,...,...,...,...,...,...,...,...
10942338,388490,One Way To Die: Steam Edition,3,3,76561198329548331,7,76561198329548331,0.00,Free to Play,2015,CoaguCo Industries
10942339,521570,You Have 10 Seconds 2,4,4,76561198329548331,7,76561198329548331,0.00,Casual,2016,Tamationgames
10942340,521570,You Have 10 Seconds 2,4,4,76561198329548331,7,76561198329548331,0.00,Free to Play,2016,Tamationgames
10942341,521570,You Have 10 Seconds 2,4,4,76561198329548331,7,76561198329548331,0.00,Indie,2016,Tamationgames
10942342,519140,Minds Eyes,3,3,76561198329548331,7,76561198329548331,NaN,Sin dato disponible,Sin dato disponible,Sin dato disponible

### Playtime_forever por usuario

In [76]:
playtime_forever_usuario = df_items[['playtime_forever', 'user_id']]
playtime_forever_usuario

          playtime_forever            user_id
0                        6  76561197970982479
1                        0  76561197970982479
2                        7  76561197970982479
3                        0  76561197970982479
4                        0  76561197970982479
...                    ...                ...
10942338                 3  76561198329548331
10942339                 4  76561198329548331
10942340                 4  76561198329548331
10942341                 4  76561198329548331
10942342                 3  76561198329548331

[10942343 rows x 2 columns]

In [84]:
suma_playtime_usuario = playtime_forever_usuario.groupby('user_id')['playtime_forever'].sum().reset_index()
suma_playtime_usuario['playtime_horas'] = suma_playtime_usuario['playtime_forever']/60
suma_playtime_usuario = suma_playtime_usuario.drop('playtime_forever', axis=1)
suma_playtime_usuario

                 user_id  playtime_horas
0                --000--     3818.650000
1                --ace--     1530.616667
2              --ionex--      945.583333
3           -2SV-vuLB-Kg     1396.883333
4      -404PageNotFound-     7958.700000
...                  ...             ...
70907             zzonci       28.600000
70908        zzoptimuszz     7207.216667
70909            zzydrax      156.016667
70910              zzyfo     1440.916667
70911         zzzmidmiss      364.833333

[70912 rows x 2 columns]

In [85]:
df_reviews = df_reviews.merge(suma_playtime_usuario, on='user_id', how='left')
df_reviews.head()

,user_id,user_url,reviews_item_id,reviews_helpful,reviews_recommend,reviews_date,sentiment_analysis,items_count,price,genres,release_anio,developer,playtime_horas
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,No ratings yet,True,2011-11-05,1,277.0,19.99,Action,2009,Tripwire Interactive,5060.666667
1,js41637,http://steamcommunity.com/id/js41637,251610,15 of 20 people (75%) found this review helpful,True,2014-06-24,1,888.0,NaN,Sin dato disponible,Sin dato disponible,Sin dato disponible,5539.916667
2,evcentric,http://steamcommunity.com/id/evcentric,248820,No ratings yet,True,Formato inválido,2,137.0,9.99,Action,2013,"Hopoo Games, LLC",6180.266667
3,evcentric,http://steamcommunity.com/id/evcentric,248820,No ratings yet,True,Formato inválido,2,137.0,9.99,Indie,2013,"Hopoo Games, LLC",6180.266667
4,evcentric,http://steamcommunity.com/id/evcentric,248820,No ratings yet,True,Formato inválido,2,137.0,9.99,RPG,2013,"Hopoo Games, LLC",6180.266667

### reviso

In [86]:
df_reviews

,user_id,user_url,reviews_item_id,reviews_helpful,reviews_recommend,reviews_date,sentiment_analysis,items_count,price,genres,release_anio,developer,playtime_horas
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1250,No ratings yet,True,2011-11-05,1,277.0,19.99,Action,2009,Tripwire Interactive,5060.666667
1,js41637,http://steamcommunity.com/id/js41637,251610,15 of 20 people (75%) found this review helpful,True,2014-06-24,1,888.0,NaN,Sin dato disponible,Sin dato disponible,Sin dato disponible,5539.916667
2,evcentric,http://steamcommunity.com/id/evcentric,248820,No ratings yet,True,Formato inválido,2,137.0,9.99,Action,2013,"Hopoo Games, LLC",6180.266667
3,evcentric,http://steamcommunity.com/id/evcentric,248820,No ratings yet,True,Formato inválido,2,137.0,9.99,Indie,2013,"Hopoo Games, LLC",6180.266667
4,evcentric,http://steamcommunity.com/id/evcentric,248820,No ratings yet,True,Formato inválido,2,137.0,9.99,RPG,2013,"Hopoo Games, LLC",6180.266667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
130628,lifeonhigh,http://steamcommunity.com/id/lifeonhigh,304050,No ratings yet,True,2015-12-20,1,45.0,0.00,Casual,2015,Trion Worlds,1862.433333
130629,lifeonhigh,http://steamcommunity.com/id/lifeonhigh,304050,No ratings yet,True,2015-12-20,1,45.0,0.00,Free to Play,2015,Trion Worlds,1862.433333
130630,lifeonhigh,http://steamcommunity.com/id/lifeonhigh,304050,No ratings yet,True,2015-12-20,1,45.0,0.00,Massively Multiplayer,2015,Trion Worlds,1862.433333
130631,lifeonhigh,http://steamcommunity.com/id/lifeonhigh,304050,No ratings yet,True,2015-12-20,1,45.0,0.00,RPG,2015,Trion Worlds,1862.433333
130632,EchoXSilence,http://steamcommunity.com/id/EchoXSilence,570,0 of 2 people (0%) found this review helpful,False,Formato inválido,1,23.0,NaN,Sin dato disponible,Sin dato disponible,Sin dato disponible,367.166667

In [87]:
df_items

,item_id,item_name,playtime_forever,playtime_2weeks,steam_id,items_count,user_id,price,genres,release_anio,developer
0,10,Counter-Strike,6,0,76561197970982479,277,76561197970982479,9.99,Action,2000,Valve
1,20,Team Fortress Classic,0,0,76561197970982479,277,76561197970982479,4.99,Action,1999,Valve
2,30,Day of Defeat,7,0,76561197970982479,277,76561197970982479,4.99,Action,2003,Valve
3,40,Deathmatch Classic,0,0,76561197970982479,277,76561197970982479,4.99,Action,2001,Valve
4,50,Half-Life: Opposing Force,0,0,76561197970982479,277,76561197970982479,4.99,Action,1999,Gearbox Software
...,...,...,...,...,...,...,...,...,...,...,...
10942338,388490,One Way To Die: Steam Edition,3,3,76561198329548331,7,76561198329548331,0.00,Free to Play,2015,CoaguCo Industries
10942339,521570,You Have 10 Seconds 2,4,4,76561198329548331,7,76561198329548331,0.00,Casual,2016,Tamationgames
10942340,521570,You Have 10 Seconds 2,4,4,76561198329548331,7,76561198329548331,0.00,Free to Play,2016,Tamationgames
10942341,521570,You Have 10 Seconds 2,4,4,76561198329548331,7,76561198329548331,0.00,Indie,2016,Tamationgames
10942342,519140,Minds Eyes,3,3,76561198329548331,7,76561198329548331,NaN,Sin dato disponible,Sin dato disponible,Sin dato disponible

### Ranking de géneros por tiempo de juego

In [91]:
genre_ranking = df_items.groupby('genres')['playtime_forever'].sum().reset_index()
genre_ranking = genre_ranking.sort_values(by='playtime_forever', ascending=False)
# Agregar una columna con la posición del ranking
genre_ranking['ranking'] = genre_ranking['playtime_forever'].rank(ascending=False).astype(int)
genre_ranking

                       genres  playtime_forever  ranking
0                      Action        3113562606        1
9                       Indie        1494622404        2
12                        RPG        1041022718        3
1                   Adventure         909995120        4
14                 Simulation         867646306        5
15        Sin dato disponible         750732648        6
18                   Strategy         659363841        7
8                Free to Play         610752945        8
10      Massively Multiplayer         446594080        9
4                      Casual         252232854       10
6                Early Access         158701268       11
17                     Sports          65849177       12
13                     Racing          63698455       13
19                  Utilities           4702399       14
5   Design &amp; Illustration           4102258       15
21             Web Publishing           2780605       16
20           Video Production           2408892       17
2    Animation &amp; Modeling           2007347       18
16          Software Training            571032       19
3            Audio Production            556002       20
7                   Education            415556       21
11              Photo Editing            115425       22

### Cantidad de items y contenido free por desarrollador

In [95]:
df_items_devepoper = df_items[['item_id', 'price', 'developer', 'release_anio']]
df_items_devepoper = df_items_devepoper[df_items_devepoper['price']==0]
df_items_devepoper

          item_id  price              developer release_anio
24            340    0.0                  Valve         2005
56          35420    0.0  Defence Alliance Team         2009
168         41300    0.0           Nimbly Games         2009
169         41300    0.0           Nimbly Games         2009
170         41300    0.0           Nimbly Games         2009
...           ...    ...                    ...          ...
10942337   388490    0.0     CoaguCo Industries         2015
10942338   388490    0.0     CoaguCo Industries         2015
10942339   521570    0.0          Tamationgames         2016
10942340   521570    0.0          Tamationgames         2016
10942341   521570    0.0          Tamationgames         2016

[2960699 rows x 4 columns]

In [99]:
df_items_devepoper = df_items_devepoper.drop_duplicates()
df_items_devepoper = df_items_devepoper.drop('price', axis=1)
df_items_devepoper

         item_id              developer release_anio
24           340                  Valve         2005
56         35420  Defence Alliance Team         2009
168        41300           Nimbly Games         2009
258       104700     Uber Entertainment         2012
276       204300           Ronimo Games         2012
...          ...                    ...          ...
3438928   346220             Imigea Ltd         2016
4116520   501740     Fast Forward Games         2016
4299101    10520                Eurocom         2008
5487606   246820       Vex Studios, LLC         2016
7998843   339530      Burning Dog Media         2015

[666 rows x 3 columns]

## Carga de los dataframe

In [103]:
dfs = [df_reviews, df_games, df_items, genre_ranking, df_items_devepoper]
# Nombres correspondientes a cada DataFrame
names = ['df_reviews', 'df_games', 'df_items', 'genre_ranking', 'df_items_developer']

for df, name in zip(dfs, names):
    archivo = f'data/{name}_unido.csv'
    df.to_csv(archivo, index=False, encoding='utf-8')
    print(f"DataFrame '{name}' guardado como '{archivo}'")

DataFrame 'df_reviews' guardado como 'data/df_reviews_unido.csv'
DataFrame 'df_games' guardado como 'data/df_games_unido.csv'
DataFrame 'df_items' guardado como 'data/df_items_unido.csv'
DataFrame 'genre_ranking' guardado como 'data/genre_ranking_unido.csv'
DataFrame 'df_items_developer' guardado como 'data/df_items_developer_unido.csv'