In [62]:
import pandas as pd
import ast
import json


%load_ext autoreload
%autoreload 2
import utils

import warnings
warnings.filterwarnings("ignore")

In [58]:
#pip install textblob

Collecting textblobNote: you may need to restart the kernel to use updated packages.

  Using cached textblob-0.17.1-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in c:\users\marco\appdata\roaming\python\python310\site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in c:\users\marco\appdata\roaming\python\python310\site-packages (from nltk>=3.1->textblob) (8.1.5)
Requirement already satisfied: joblib in c:\users\marco\appdata\roaming\python\python310\site-packages (from nltk>=3.1->textblob) (1.3.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\marco\appdata\roaming\python\python310\site-packages (from nltk>=3.1->textblob) (2023.6.3)
Requirement already satisfied: tqdm in c:\users\marco\appdata\roaming\python\python310\site-packages (from nltk>=3.1->textblob) (4.65.0)
Requirement already satisfied: colorama in c:\users\marco\appdata\roaming\python\python310\site-packages (from click->nltk>=3.1->textblob) (0.4.6)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

WARNING: Ignoring invalid distribution -atplotlib (c:\users\marco\.conda\envs\mlenv\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\marco\.conda\envs\mlenv\lib\site-packages)

## Dataset  `australian_user_reviews`

Se lee el dataset que contiene las reviews que hacen los usuarios.

In [2]:
# Ruta al dataset australian_user_reviews
ruta_review = 'data/australian_user_reviews.json'

# Se lee de cada línea del dataset
filas_review = []
with open(ruta_review, encoding='MacRoman') as f:
    for line in f.readlines():
        filas_review.append(ast.literal_eval(line))

# Se convierte en dataframe
df_reviews = pd.DataFrame(filas_review)
df_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [28]:
# Se revisan tipos de datos y existencias de nulos
utils.verificar_tipo_datos(df_reviews)

  nombre_campo        tipo_datos  no_nulos_%  nulos_%  nulos
0      user_id   [<class 'str'>]       100.0      0.0      0
1     user_url   [<class 'str'>]       100.0      0.0      0
2      reviews  [<class 'list'>]       100.0      0.0      0

In [4]:
# Se observa el tipo de dato que contiene 'review'
df_reviews['reviews'][0]

[{'funny': '',
  'posted': 'Posted November 5, 2011.',
  'last_edited': '',
  'item_id': '1250',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': 'Simple yet with great replayability. In my opinion does "zombie" hordes and team work better than left 4 dead plus has a global leveling system. Alot of down to earth "zombie" splattering fun for the whole family. Amazed this sort of FPS is so rare.'},
 {'funny': '',
  'posted': 'Posted July 15, 2011.',
  'last_edited': '',
  'item_id': '22200',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': "It's unique and worth a playthrough."},
 {'funny': '',
  'posted': 'Posted April 21, 2011.',
  'last_edited': '',
  'item_id': '43110',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': 'Great atmosphere. The gunplay can be a bit chunky at times but at the end of the day this game is definitely worth it and I hope they do a sequel...so buy the game so I get a sequel!'}]

Este conjunto contiene 3 columnas y 25799 filas, sin valores nulos. Las columnas son:

* user_id: es donde esta el nombre del usuario, algunos son números, otros son string o combinación de ambos.
* user_url: es la url del perfil del usuario en streamcommunity.
* reviews: contiene una lista de diccionarios. Para cada usuario se tiene uno o mas diccionario con el review. Cada diccionario contiene:
    * funny: indica si alguien puso emoticón de gracioso.
    * posted: es la fecha en formato Posted April 21, 2011.
    * last_edited: es un string vacío.
    * item_id: es un número entero que le da el id a la review.
    * helpful: es una sentencia string donde otros usuarios indican si fué útil la información.
    * recommend: es un True/False.
    * review: es una sentencia string con los comnetarios del juego.

En primer lugar, la columna de **user_url** se decide eliminar, dado que no se utilizará en el análisis.

In [31]:
df_reviews = df_reviews.drop(columns=['user_url'])

A continuación, se genera una columna por cada diccionario de la lista.

In [34]:
df_reviews.head()

                 user_id                                            reviews
0      76561197970982479  [{'funny': '', 'posted': 'Posted November 5, 2...
1                js41637  [{'funny': '', 'posted': 'Posted June 24, 2014...
2              evcentric  [{'funny': '', 'posted': 'Posted February 3.',...
3                  doctr  [{'funny': '', 'posted': 'Posted October 14, 2...
4              maplemage  [{'funny': '3 people found this review funny',...
...                  ...                                                ...
25794  76561198306599751  [{'funny': '', 'posted': 'Posted May 31.', 'la...
25795           Ghoustik  [{'funny': '', 'posted': 'Posted June 17.', 'l...
25796  76561198310819422  [{'funny': '1 person found this review funny',...
25797  76561198312638244  [{'funny': '', 'posted': 'Posted July 21.', 'l...
25798        LydiaMorley  [{'funny': '1 person found this review funny',...

[25799 rows x 2 columns]

In [35]:
df_reviews2 = pd.json_normalize(df_reviews['reviews'])
df_reviews2.head()

,0,1,2,3,4,5,6,7,8,9
0,"{'funny': '', 'posted': 'Posted November 5, 20...","{'funny': '', 'posted': 'Posted July 15, 2011....","{'funny': '', 'posted': 'Posted April 21, 2011...",None,None,None,None,None,None,None
1,"{'funny': '', 'posted': 'Posted June 24, 2014....","{'funny': '', 'posted': 'Posted September 8, 2...","{'funny': '', 'posted': 'Posted November 29, 2...",None,None,None,None,None,None,None
2,"{'funny': '', 'posted': 'Posted February 3.', ...","{'funny': '', 'posted': 'Posted December 4, 20...","{'funny': '', 'posted': 'Posted November 3, 20...","{'funny': '', 'posted': 'Posted October 15, 20...","{'funny': '', 'posted': 'Posted October 15, 20...","{'funny': '', 'posted': 'Posted October 15, 20...",None,None,None,None
3,"{'funny': '', 'posted': 'Posted October 14, 20...","{'funny': '', 'posted': 'Posted July 28, 2012....","{'funny': '', 'posted': 'Posted June 2, 2012.'...","{'funny': '', 'posted': 'Posted June 29, 2014....","{'funny': '', 'posted': 'Posted November 22, 2...","{'funny': '', 'posted': 'Posted February 23, 2...",None,None,None,None
4,"{'funny': '3 people found this review funny', ...","{'funny': '1 person found this review funny', ...","{'funny': '2 people found this review funny', ...","{'funny': '', 'posted': 'Posted July 11, 2013....",None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
25794,"{'funny': '', 'posted': 'Posted May 31.', 'las...",None,None,None,None,None,None,None,None,None
25795,"{'funny': '', 'posted': 'Posted June 17.', 'la...",None,None,None,None,None,None,None,None,None
25796,"{'funny': '1 person found this review funny', ...",None,None,None,None,None,None,None,None,None
25797,"{'funny': '', 'posted': 'Posted July 21.', 'la...","{'funny': '', 'posted': 'Posted July 10.', 'la...","{'funny': '', 'posted': 'Posted July 10.', 'la...","{'funny': '', 'posted': 'Posted July 8.', 'las...",None,None,None,None,None,None
25798,"{'funny': '1 person found this review funny', ...","{'funny': '', 'posted': 'Posted July 20.', 'la...","{'funny': '', 'posted': 'Posted July 2.', 'las...",None,None,None,None,None,None,None

In [36]:
# Se agrega el user_id a las columnas separadas 
df_reviews2 = pd.concat([df_reviews['user_id'], df_reviews2], axis=1)
df_reviews2.head()

,user_id,0,1,2,3,4,5,6,7,8,9
0,76561197970982479,"{'funny': '', 'posted': 'Posted November 5, 20...","{'funny': '', 'posted': 'Posted July 15, 2011....","{'funny': '', 'posted': 'Posted April 21, 2011...",None,None,None,None,None,None,None
1,js41637,"{'funny': '', 'posted': 'Posted June 24, 2014....","{'funny': '', 'posted': 'Posted September 8, 2...","{'funny': '', 'posted': 'Posted November 29, 2...",None,None,None,None,None,None,None
2,evcentric,"{'funny': '', 'posted': 'Posted February 3.', ...","{'funny': '', 'posted': 'Posted December 4, 20...","{'funny': '', 'posted': 'Posted November 3, 20...","{'funny': '', 'posted': 'Posted October 15, 20...","{'funny': '', 'posted': 'Posted October 15, 20...","{'funny': '', 'posted': 'Posted October 15, 20...",None,None,None,None
3,doctr,"{'funny': '', 'posted': 'Posted October 14, 20...","{'funny': '', 'posted': 'Posted July 28, 2012....","{'funny': '', 'posted': 'Posted June 2, 2012.'...","{'funny': '', 'posted': 'Posted June 29, 2014....","{'funny': '', 'posted': 'Posted November 22, 2...","{'funny': '', 'posted': 'Posted February 23, 2...",None,None,None,None
4,maplemage,"{'funny': '3 people found this review funny', ...","{'funny': '1 person found this review funny', ...","{'funny': '2 people found this review funny', ...","{'funny': '', 'posted': 'Posted July 11, 2013....",None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
25794,76561198306599751,"{'funny': '', 'posted': 'Posted May 31.', 'las...",None,None,None,None,None,None,None,None,None
25795,Ghoustik,"{'funny': '', 'posted': 'Posted June 17.', 'la...",None,None,None,None,None,None,None,None,None
25796,76561198310819422,"{'funny': '1 person found this review funny', ...",None,None,None,None,None,None,None,None,None
25797,76561198312638244,"{'funny': '', 'posted': 'Posted July 21.', 'la...","{'funny': '', 'posted': 'Posted July 10.', 'la...","{'funny': '', 'posted': 'Posted July 10.', 'la...","{'funny': '', 'posted': 'Posted July 8.', 'las...",None,None,None,None,None,None
25798,LydiaMorley,"{'funny': '1 person found this review funny', ...","{'funny': '', 'posted': 'Posted July 20.', 'la...","{'funny': '', 'posted': 'Posted July 2.', 'las...",None,None,None,None,None,None,None

In [37]:
# Se utiliza pd.melt para transformar las columnas en filas conservando el user_id
df_reviews2 = pd.melt(df_reviews2, id_vars=['user_id'], 
                       value_vars=list(range(9)),
                       value_name='reviews')
df_reviews2.head()

,user_id,variable,reviews
0,76561197970982479,0,"{'funny': '', 'posted': 'Posted November 5, 20..."
1,js41637,0,"{'funny': '', 'posted': 'Posted June 24, 2014...."
2,evcentric,0,"{'funny': '', 'posted': 'Posted February 3.', ..."
3,doctr,0,"{'funny': '', 'posted': 'Posted October 14, 20..."
4,maplemage,0,"{'funny': '3 people found this review funny', ..."
...,...,...,...
232186,76561198306599751,8,None
232187,Ghoustik,8,None
232188,76561198310819422,8,None
232189,76561198312638244,8,None
232190,LydiaMorley,8,None

In [40]:
# Se puede ver que cada 'user_id' se repite por cada diccionario que que tenía en reviews
# Los None se refieren a columnas de diccionarios de otros registros. Esto hay que eliminar.
df_reviews2[df_reviews2['user_id']=='76561197970982479']

,user_id,variable,reviews
0,76561197970982479,0,"{'funny': '', 'posted': 'Posted November 5, 20..."
25799,76561197970982479,1,"{'funny': '', 'posted': 'Posted July 15, 2011...."
51598,76561197970982479,2,"{'funny': '', 'posted': 'Posted April 21, 2011..."
77397,76561197970982479,3,None
103196,76561197970982479,4,None
128995,76561197970982479,5,None
154794,76561197970982479,6,None
180593,76561197970982479,7,None
206392,76561197970982479,8,None

In [42]:
# Se eliminan las filas con valor None
df_reviews2 = df_reviews2.dropna()
# Verificamos que solo queden el 'user_id' con la cantidad de diccionarios que le corresponde
df_reviews2[df_reviews2['user_id']=='76561197970982479']

,user_id,variable,reviews
0,76561197970982479,0,"{'funny': '', 'posted': 'Posted November 5, 20..."
25799,76561197970982479,1,"{'funny': '', 'posted': 'Posted July 15, 2011...."
51598,76561197970982479,2,"{'funny': '', 'posted': 'Posted April 21, 2011..."

Ahora, se puede convertir cada diccionario en columna.

In [44]:
# Se separan por columnas cada una de las claves de df_genrer_id
df_reviews = df_reviews2['reviews'].apply(pd.Series, dtype='object')
df_reviews = df_reviews.add_prefix('reviews_')
df_reviews.head()

,reviews_funny,reviews_posted,reviews_last_edited,reviews_item_id,reviews_helpful,reviews_recommend,reviews_review
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
2,,Posted February 3.,,248820,No ratings yet,True,A suitably punishing roguelike platformer. Wi...
3,,"Posted October 14, 2013.",,250320,2 of 2 people (100%) found this review helpful,True,This game... is so fun. The fight sequences ha...
4,3 people found this review funny,"Posted April 15, 2014.",,211420,35 of 43 people (81%) found this review helpful,True,Git gud
...,...,...,...,...,...,...,...
231919,,"Posted August 15, 2014.","Last edited November 3, 2014.",440,No ratings yet,True,TF2 is alot of fun and its really good but the...
231921,,"Posted August 2, 2014.",,304930,No ratings yet,True,Fun game with friends
232047,,"Posted July 31, 2015.",,265630,No ratings yet,True,So Fun!! :D
232127,,"Posted December 20, 2015.",,304050,No ratings yet,True,"This game is great. The only thing is,Why cant..."
232129,,Posted February 3.,,570,0 of 2 people (0%) found this review helpful,False,DOTA 2.normal skill - 2ez for me>high skill - ...

En el procesamiento anterior, se puede ver que la columna de 'user_id' se perdió, por lo que se vuelve a concatenar.

In [46]:
# Se une con el 'user_id'
df_reviews = pd.concat([df_reviews2['user_id'], df_reviews], axis=1)
df_reviews

,user_id,reviews_funny,reviews_posted,reviews_last_edited,reviews_item_id,reviews_helpful,reviews_recommend,reviews_review
0,76561197970982479,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
2,evcentric,,Posted February 3.,,248820,No ratings yet,True,A suitably punishing roguelike platformer. Wi...
3,doctr,,"Posted October 14, 2013.",,250320,2 of 2 people (100%) found this review helpful,True,This game... is so fun. The fight sequences ha...
4,maplemage,3 people found this review funny,"Posted April 15, 2014.",,211420,35 of 43 people (81%) found this review helpful,True,Git gud
...,...,...,...,...,...,...,...,...
231919,SKELETRONPRIMEISOP,,"Posted August 15, 2014.","Last edited November 3, 2014.",440,No ratings yet,True,TF2 is alot of fun and its really good but the...
231921,76561198141079508,,"Posted August 2, 2014.",,304930,No ratings yet,True,Fun game with friends
232047,ShadowYT100,,"Posted July 31, 2015.",,265630,No ratings yet,True,So Fun!! :D
232127,bestcustomurlevermade,,"Posted December 20, 2015.",,304050,No ratings yet,True,"This game is great. The only thing is,Why cant..."
232129,76561198209894493,,Posted February 3.,,570,0 of 2 people (0%) found this review helpful,False,DOTA 2.normal skill - 2ez for me>high skill - ...

Se observa que hay valores faltantes en algunas columnas, pero no estan como nulos, probablemente deben tener un espacio. Se compueba esto.

In [48]:
df_reviews['reviews_last_edited'][0]

''

Se reemplazar esos espacios como valores nulos.

In [50]:
df_reviews.replace('', None, inplace=True)
df_reviews

,user_id,reviews_funny,reviews_posted,reviews_last_edited,reviews_item_id,reviews_helpful,reviews_recommend,reviews_review
0,76561197970982479,None,"Posted November 5, 2011.",None,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,js41637,None,"Posted June 24, 2014.",None,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
2,evcentric,None,Posted February 3.,None,248820,No ratings yet,True,A suitably punishing roguelike platformer. Wi...
3,doctr,None,"Posted October 14, 2013.",None,250320,2 of 2 people (100%) found this review helpful,True,This game... is so fun. The fight sequences ha...
4,maplemage,3 people found this review funny,"Posted April 15, 2014.",None,211420,35 of 43 people (81%) found this review helpful,True,Git gud
...,...,...,...,...,...,...,...,...
231919,SKELETRONPRIMEISOP,None,"Posted August 15, 2014.","Last edited November 3, 2014.",440,No ratings yet,True,TF2 is alot of fun and its really good but the...
231921,76561198141079508,None,"Posted August 2, 2014.",None,304930,No ratings yet,True,Fun game with friends
232047,ShadowYT100,None,"Posted July 31, 2015.",None,265630,No ratings yet,True,So Fun!! :D
232127,bestcustomurlevermade,None,"Posted December 20, 2015.",None,304050,No ratings yet,True,"This game is great. The only thing is,Why cant..."
232129,76561198209894493,None,Posted February 3.,None,570,0 of 2 people (0%) found this review helpful,False,DOTA 2.normal skill - 2ez for me>high skill - ...

Se analizan los tipos de datos y los nulos que quedaron luego de desanidar la columna 'reviews'.

In [51]:
utils.verificar_tipo_datos(df_reviews)

,nombre_campo,tipo_datos,no_nulos_%,nulos_%,nulos
0,user_id,[<class 'str'>],100.00,0.00,0
1,reviews_funny,"[<class 'NoneType'>, <class 'str'>]",13.77,86.23,50904
2,reviews_posted,[<class 'str'>],100.00,0.00,0
3,reviews_last_edited,"[<class 'NoneType'>, <class 'str'>]",10.30,89.70,52953
4,reviews_item_id,[<class 'str'>],100.00,0.00,0
5,reviews_helpful,[<class 'str'>],100.00,0.00,0
6,reviews_recommend,[<class 'bool'>],100.00,0.00,0
7,reviews_review,"[<class 'str'>, <class 'NoneType'>]",99.95,0.05,30

Se observa entre un 86 a 89% de faltantes de datos en las columnas 'reviews_funny' y 'reviews_last_edited' por lo que se decide eliminar estas columnas.Por otra parte hay un 5% de faltantes de datos en la columna propiamente de reviews, pero no se eliminarán esos registros porque se considerarán como un comentario neutral.

In [57]:
# Se eliminan las columnas 'reviews_funny' y 'reviews_last_edited'
df_reviews = df_reviews.drop(columns=['reviews_funny', 'reviews_last_edited'])
df_reviews.columns

Index(['user_id', 'reviews_posted', 'reviews_item_id', 'reviews_helpful',
       'reviews_recommend', 'reviews_review'],
      dtype='object')

### Análisis de sentimientos

Se pide crear una nueva columna llamada 'sentiment_analysis' que reemplace a 'reviews_review' donde se realize un análisis de sentimiento con NLP con la siguiente escala: 

* 0 si es malo,
* 1 si es neutral o esta sin review
* 2 si es positivo.

In [64]:
df_reviews['sentiment_analysis'] = df_reviews['reviews_review'].apply(utils.analyze_sentiment)
df_reviews

,user_id,reviews_posted,reviews_item_id,reviews_helpful,reviews_recommend,reviews_review,sentiment_analysis
0,76561197970982479,"Posted November 5, 2011.",1250,No ratings yet,True,Simple yet with great replayability. In my opi...,1
1,js41637,"Posted June 24, 2014.",251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,1
2,evcentric,Posted February 3.,248820,No ratings yet,True,A suitably punishing roguelike platformer. Wi...,2
3,doctr,"Posted October 14, 2013.",250320,2 of 2 people (100%) found this review helpful,True,This game... is so fun. The fight sequences ha...,2
4,maplemage,"Posted April 15, 2014.",211420,35 of 43 people (81%) found this review helpful,True,Git gud,1
...,...,...,...,...,...,...,...
231919,SKELETRONPRIMEISOP,"Posted August 15, 2014.",440,No ratings yet,True,TF2 is alot of fun and its really good but the...,1
231921,76561198141079508,"Posted August 2, 2014.",304930,No ratings yet,True,Fun game with friends,1
232047,ShadowYT100,"Posted July 31, 2015.",265630,No ratings yet,True,So Fun!! :D,2
232127,bestcustomurlevermade,"Posted December 20, 2015.",304050,No ratings yet,True,"This game is great. The only thing is,Why cant...",1
232129,76561198209894493,Posted February 3.,570,0 of 2 people (0%) found this review helpful,False,DOTA 2.normal skill - 2ez for me>high skill - ...,1

In [67]:
df_reviews[df_reviews['sentiment_analysis']==2]

,user_id,reviews_posted,reviews_item_id,reviews_helpful,reviews_recommend,reviews_review,sentiment_analysis
2,evcentric,Posted February 3.,248820,No ratings yet,True,A suitably punishing roguelike platformer. Wi...,2
3,doctr,"Posted October 14, 2013.",250320,2 of 2 people (100%) found this review helpful,True,This game... is so fun. The fight sequences ha...,2
9,76561198156664158,Posted June 16.,252950,0 of 1 people (0%) found this review helpful,True,love it,2
15,Rainbow-Dashie,"Posted June 19, 2015.",730,1 of 3 people (33%) found this review helpful,True,Good Game It Was Very Fun!!!!,2
19,devvonst,"Posted February 12, 2014.",440,6 of 9 people (67%) found this review helpful,True,Best first person shooter,2
...,...,...,...,...,...,...,...
230279,ninjagato,"Posted April 18, 2014.",51100,No ratings yet,True,esse jogo √© muitom bom! paresse counter strik...,2
230975,JustHacksNoSkill,"Posted May 16, 2014.",233270,No ratings yet,True,Its sexual Enough,2
231213,MsVen,"Posted July 24, 2013.",226980,No ratings yet,True,Comes with one free table so you can compete a...,2
231855,76561198133319761,"Posted June 27, 2014.",238460,No ratings yet,True,Its a great game if your up for a challenge or...,2
232047,ShadowYT100,"Posted July 31, 2015.",265630,No ratings yet,True,So Fun!! :D,2

## Dataset `output_steam_games`

In [5]:
# Ruta al dataset australian_user_reviews
ruta_games = 'data/output_steam_games.json'

# Se lee de cada línea del dataset
filas_games = []
with open(ruta_games, encoding='MacRoman') as f:
    for line in f.readlines():
        data = json.loads(line)
        filas_games.append(data)

# Se convierte en dataframe
df_games = pd.DataFrame(filas_games)
df_games

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

In [29]:
# Se revisan tipos de datos y existencias de nulos
utils.verificar_tipo_datos(df_games)

,nombre_campo,tipo_datos,no_nulos_%,nulos_%,nulos
0,publisher,"[<class 'float'>, <class 'str'>]",20.00,80.00,96362
1,genres,"[<class 'float'>, <class 'list'>]",23.95,76.05,91593
2,app_name,"[<class 'float'>, <class 'str'>]",26.68,73.32,88312
3,title,"[<class 'float'>, <class 'str'>]",24.98,75.02,90360
4,url,"[<class 'float'>, <class 'str'>]",26.68,73.32,88310
5,release_date,"[<class 'float'>, <class 'str'>]",24.96,75.04,90377
6,tags,"[<class 'float'>, <class 'list'>]",26.54,73.46,88473
7,reviews_url,"[<class 'float'>, <class 'str'>]",26.68,73.32,88312
8,specs,"[<class 'float'>, <class 'list'>]",26.12,73.88,88980
9,price,"[<class 'float'>, <class 'str'>]",25.54,74.46,89687
10,early_access,"[<class 'float'>, <class 'bool'>]",26.68,73.32,88310
11,id,"[<class 'float'>, <class 'str'>]",26.68,73.32,88312
12,developer,"[<class 'float'>, <class 'str'>]",23.94,76.06,91609

In [15]:
# se observa el tipo de dato en 'genres'
df_games['genres'][101505]

['Action', 'Adventure', 'Free to Play', 'RPG', 'Early Access']

In [16]:
# se observa el tipo de dato en 'tags'
df_games['tags'][101505]

['Early Access', 'Free to Play', 'Action', 'Adventure', 'RPG']

In [18]:
# se observa el tipo de dato en 'specs'
df_games['specs'][101500]

['Single-player', 'Multi-player']

In [20]:
# se observa el tipo de dato en 'price'
df_games['price'].unique()

array([nan, 4.99, 'Free To Play', 'Free to Play', 0.99, 2.99, 3.99, 9.99,
       18.99, 29.99, 'Free', 10.99, 1.59, 14.99, 1.99, 59.99, 8.99, 6.99,
       7.99, 39.99, 19.99, 7.49, 12.99, 5.99, 2.49, 15.99, 1.25, 24.99,
       17.99, 61.99, 3.49, 11.99, 13.99, 'Free Demo', 'Play for Free!',
       34.99, 74.76, 1.49, 32.99, 99.99, 14.95, 69.99, 16.99, 79.99,
       49.99, 5.0, 44.99, 13.98, 29.96, 119.99, 109.99, 149.99, 771.71,
       'Install Now', 21.99, 89.99, 'Play WARMACHINE: Tactics Demo', 0.98,
       139.92, 4.29, 64.99, 'Free Mod', 54.99, 74.99, 'Install Theme',
       0.89, 'Third-party', 0.5, 'Play Now', 299.99, 1.29, 3.0, 15.0,
       5.49, 23.99, 49.0, 20.99, 10.93, 1.39, 'Free HITMAN™ Holiday Pack',
       36.99, 4.49, 2.0, 4.0, 9.0, 234.99, 1.95, 1.5, 199.0, 189.0, 6.66,
       27.99, 10.49, 129.99, 179.0, 26.99, 399.99, 31.99, 399.0, 20.0,
       40.0, 3.33, 199.99, 22.99, 320.0, 38.85, 71.7, 59.95, 995.0, 27.49,
       3.39, 6.0, 19.95, 499.99, 16.06, 4.68, 131.4, 44.98, 202.76, 1.0,
       2.3, 0.95, 172.24, 249.99, 2.97, 10.96, 10.0, 30.0, 2.66, 6.48,
       19.29, 11.15, 18.9, 2.89, 'Play the Demo', 99.0, 87.94, 599.0,
       8.98, 9.69, 0.49, 9.98, 9.95, 7.0, 'Starting at $499.00',
       'Starting at $449.00', 12.89, 6.49, 1.87, 42.99, 41.99, 289.99,
       'Free to Try', 23.96, 5.65, 12.0, 13.37, 189.96, 124.99,
       'Free Movie', 19.98, 160.91, 'Free to Use'], dtype=object)

In [21]:
# se observa el tipo de dato en 'early_access'
df_games['early_access'].unique()

array([nan, False, True], dtype=object)

Este conjunto contiene 13 columnas y 120445 filas, conteniendo nulos en todas las columnas. Las columnas que contiene son:

* publisher: es la empresa publicadora del contenido. Hay nombres en mayúsculas y minúsculas.
* genres: es el contenido del género. Esta formado por una lista de uno o mas géneros por registro.
* app_name: es el nombre del contenido.
* title: es el título del contenido.
* url: es la url de la publicación del contenido.
* release_date: es la fecha de lanzamiento en formato 2018-01-04
* tags: es la etiqueta del contenido. Esta formado por una lista de uno o mas etiquetas por registro.
* reviews_url: es la url donde se encuentra el review.
* specs: son especificaciones de cada registro. Es una lista con uno o mas string con las especificaciones.
* price: es el precio del contenido. Algunos datos no son numéricos, sino que hay textos referidos al precio
* early_access: indica el acceso temprano con un True/False.
* id: es el identificador único del contenido.
* developer: es el desarrollador del contenido

## Dataset `australian_users_items`

In [8]:
# Ruta al dataset australian_user_reviews
ruta_items = 'data/australian_users_items.json'

# Se lee de cada línea del dataset
filas_items = []
with open(ruta_items, encoding='MacRoman') as f:
    for line in f.readlines():
        filas_items.append(ast.literal_eval(line))

# Se convierte en dataframe
df_items = pd.DataFrame(filas_items)
df_items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

In [25]:
# se observa el tipo de dato en 'early_access'
df_items['items'][0]

[{'item_id': '10',
  'item_name': 'Counter-Strike',
  'playtime_forever': 6,
  'playtime_2weeks': 0},
 {'item_id': '20',
  'item_name': 'Team Fortress Classic',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '30',
  'item_name': 'Day of Defeat',
  'playtime_forever': 7,
  'playtime_2weeks': 0},
 {'item_id': '40',
  'item_name': 'Deathmatch Classic',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '50',
  'item_name': 'Half-Life: Opposing Force',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '60',
  'item_name': 'Ricochet',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '70',
  'item_name': 'Half-Life',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '130',
  'item_name': 'Half-Life: Blue Shift',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '300',
  'item_name': 'Day of Defeat: Source',
  'playtime_forever': 4733,
  'playtime_2weeks': 0},
 {'item_id': '240',
  'item_name': 'Counter-Strike: Source',
  'playtime_forever': 1853,
  'playtime_2weeks': 0},
 {'item_id': '3830',
  'item_name': 'Psychonauts',
  'playtime_forever': 333,
  'playtime_2weeks': 0},
 {'item_id': '2630',
  'item_name': 'Call of Duty 2',
  'playtime_forever': 75,
  'playtime_2weeks': 0},
 {'item_id': '3900',
  'item_name': "Sid Meier's Civilization IV",
  'playtime_forever': 338,
  'playtime_2weeks': 0},
 {'item_id': '34440',
  'item_name': "Sid Meier's Civilization IV",
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '3920',
  'item_name': "Sid Meier's Pirates!",
  'playtime_forever': 2,
  'playtime_2weeks': 0},
 {'item_id': '6400',
  'item_name': 'Joint Task Force',
  'playtime_forever': 286,
  'playtime_2weeks': 0},
 {'item_id': '6910',
  'item_name': 'Deus Ex: Game of the Year Edition',
  'playtime_forever': 2685,
  'playtime_2weeks': 0},
 {'item_id': '7670',
  'item_name': 'BioShock',
  'playtime_forever': 633,
  'playtime_2weeks': 0},
 {'item_id': '409710',
  'item_name': 'BioShock Remastered',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '220',
  'item_name': 'Half-Life 2',
  'playtime_forever': 696,
  'playtime_2weeks': 0},
 {'item_id': '320',
  'item_name': 'Half-Life 2: Deathmatch',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '340',
  'item_name': 'Half-Life 2: Lost Coast',
  'playtime_forever': 37,
  'playtime_2weeks': 0},
 {'item_id': '360',
  'item_name': 'Half-Life Deathmatch: Source',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '380',
  'item_name': 'Half-Life 2: Episode One',
  'playtime_forever': 168,
  'playtime_2weeks': 0},
 {'item_id': '400',
  'item_name': 'Portal',
  'playtime_forever': 173,
  'playtime_2weeks': 0},
 {'item_id': '420',
  'item_name': 'Half-Life 2: Episode Two',
  'playtime_forever': 323,
  'playtime_2weeks': 0},
 {'item_id': '9340',
  'item_name': 'Company of Heroes: Opposing Fronts',
  'playtime_forever': 692,
  'playtime_2weeks': 0},
 {'item_id': '228200',
  'item_name': 'Company of Heroes (New Steam Version)',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '11450',
  'item_name': 'Overlord',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '7940',
  'item_name': 'Call of Duty 4: Modern Warfare',
  'playtime_forever': 1185,
  'playtime_2weeks': 0},
 {'item_id': '4700',
  'item_name': 'Medieval II: Total War',
  'playtime_forever': 477,
  'playtime_2weeks': 0},
 {'item_id': '12900',
  'item_name': 'Audiosurf',
  'playtime_forever': 115,
  'playtime_2weeks': 0},
 {'item_id': '13250',
  'item_name': 'Unreal Gold',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '16100',
  'item_name': 'Virtual Villagers: A New Home',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '15700',
  'item_name': "Oddworld: Abe's Oddysee",
  'playtime_forever': 28,
  'playtime_2weeks': 0},
 {'item_id': '15710',
  'item_name': "Oddworld: Abe's Exoddus",
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '17330',
  'item_name': 'Crysis Warhead',
  'playtime_forever': 31,
  'playtime_2weeks': 0},
 {'item_id': '17340',
  'item_name': 'Crysis Wars',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '22000',
  'item_name': 'World of Goo',
  'playtime_forever': 195,
  'playtime_2weeks': 0},
 {'item_id': '500',
  'item_name': 'Left 4 Dead',
  'playtime_forever': 513,
  'playtime_2weeks': 0},
 {'item_id': '4560',
  'item_name': 'Company of Heroes',
  'playtime_forever': 1061,
  'playtime_2weeks': 0},
 {'item_id': '17460',
  'item_name': 'Mass Effect',
  'playtime_forever': 1613,
  'playtime_2weeks': 0},
 {'item_id': '10500',
  'item_name': 'Empire: Total War',
  'playtime_forever': 186,
  'playtime_2weeks': 0},
 {'item_id': '24740',
  'item_name': 'Burnout Paradise: The Ultimate Box',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '22200',
  'item_name': 'Zeno Clash',
  'playtime_forever': 271,
  'playtime_2weeks': 0},
 {'item_id': '26800',
  'item_name': 'Braid',
  'playtime_forever': 445,
  'playtime_2weeks': 0},
 {'item_id': '1250',
  'item_name': 'Killing Floor',
  'playtime_forever': 10006,
  'playtime_2weeks': 0},
 {'item_id': '35420',
  'item_name': 'Killing Floor Mod: Defence Alliance 2',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '3590',
  'item_name': 'Plants vs. Zombies: Game of the Year',
  'playtime_forever': 4413,
  'playtime_2weeks': 0},
 {'item_id': '8880',
  'item_name': 'Freedom Force',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '8890',
  'item_name': 'Freedom Force vs. the 3rd Reich',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '23120',
  'item_name': 'Droplitz',
  'playtime_forever': 53,
  'playtime_2weeks': 0},
 {'item_id': '35700',
  'item_name': 'Trine',
  'playtime_forever': 199,
  'playtime_2weeks': 0},
 {'item_id': '10140',
  'item_name': '3D Ultra Minigolf Adventures Deluxe',
  'playtime_forever': 25,
  'playtime_2weeks': 0},
 {'item_id': '35010',
  'item_name': 'Batman: Arkham Asylum',
  'playtime_forever': 570,
  'playtime_2weeks': 0},
 {'item_id': '35140',
  'item_name': 'Batman: Arkham Asylum GOTY Edition',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '29180',
  'item_name': 'Osmos',
  'playtime_forever': 940,
  'playtime_2weeks': 0},
 {'item_id': '15520',
  'item_name': 'AaAaAA!!! - A Reckless Disregard for Gravity',
  'playtime_forever': 110,
  'playtime_2weeks': 0},
 {'item_id': '32370',
  'item_name': 'STAR WARS‚Ñ¢: Knights of the Old Republic‚Ñ¢',
  'playtime_forever': 5,
  'playtime_2weeks': 0},
 {'item_id': '37700',
  'item_name': 'Darkest of Days',
  'playtime_forever': 782,
  'playtime_2weeks': 0},
 {'item_id': '6020',
  'item_name': 'STAR WARS‚Ñ¢ Jedi Knight: Jedi Academy‚Ñ¢',
  'playtime_forever': 77,
  'playtime_2weeks': 0},
 {'item_id': '24860',
  'item_name': 'Battlefield 2',
  'playtime_forever': 437,
  'playtime_2weeks': 0},
 {'item_id': '39530',
  'item_name': 'Painkiller: Black Edition',
  'playtime_forever': 503,
  'playtime_2weeks': 0},
 {'item_id': '550',
  'item_name': 'Left 4 Dead 2',
  'playtime_forever': 1474,
  'playtime_2weeks': 0},
 {'item_id': '223530',
  'item_name': 'Left 4 Dead 2 Beta',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '8980',
  'item_name': 'Borderlands',
  'playtime_forever': 3061,
  'playtime_2weeks': 0},
 {'item_id': '41500',
  'item_name': 'Torchlight',
  'playtime_forever': 536,
  'playtime_2weeks': 0},
 {'item_id': '20900',
  'item_name': 'The Witcher: Enhanced Edition',
  'playtime_forever': 139,
  'playtime_2weeks': 0},
 {'item_id': '10180',
  'item_name': 'Call of Duty: Modern Warfare 2',
  'playtime_forever': 1886,
  'playtime_2weeks': 0},
 {'item_id': '10190',
  'item_name': 'Call of Duty: Modern Warfare 2 - Multiplayer',
  'playtime_forever': 1784,
  'playtime_2weeks': 0},
 {'item_id': '17450',
  'item_name': 'Dragon Age: Origins',
  'playtime_forever': 4431,
  'playtime_2weeks': 0},
 {'item_id': '3170',
  'item_name': "King's Bounty: Armored Princess",
  'playtime_forever': 1021,
  'playtime_2weeks': 0},
 {'item_id': '25900',
  'item_name': "King's Bounty: The Legend",
  'playtime_forever': 1389,
  'playtime_2weeks': 0},
 {'item_id': '31410',
  'item_name': 'Zombie Driver',
  'playtime_forever': 95,
  'playtime_2weeks': 0},
 {'item_id': '24980',
  'item_name': 'Mass Effect 2',
  'playtime_forever': 5001,
  'playtime_2weeks': 0},
 {'item_id': '8850',
  'item_name': 'BioShock 2',
  'playtime_forever': 1504,
  'playtime_2weeks': 0},
 {'item_id': '409720',
  'item_name': 'BioShock 2 Remastered',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '46000',
  'item_name': 'Bob Came in Pieces',
  'playtime_forever': 11,
  'playtime_2weeks': 0},
 {'item_id': '33230',
  'item_name': "Assassin's Creed II",
  'playtime_forever': 1636,
  'playtime_2weeks': 0},
 {'item_id': '20820',
  'item_name': 'Shatter',
  'playtime_forever': 46,
  'playtime_2weeks': 0},
 {'item_id': '47700',
  'item_name': 'Command and Conquer 4: Tiberian Twilight',
  'playtime_forever': 85,
  'playtime_2weeks': 0},
 {'item_id': '24960',
  'item_name': 'Battlefield: Bad Company 2',
  'playtime_forever': 5716,
  'playtime_2weeks': 0},
 {'item_id': '43110',
  'item_name': 'Metro 2033',
  'playtime_forever': 834,
  'playtime_2weeks': 0},
 {'item_id': '8190',
  'item_name': 'Just Cause 2',
  'playtime_forever': 3083,
  'playtime_2weeks': 0},
 {'item_id': '49600',
  'item_name': 'Beat Hazard',
  'playtime_forever': 127,
  'playtime_2weeks': 0},
 {'item_id': '31220',
  'item_name': 'Sam & Max 301: The Penal Zone',
  'playtime_forever': 71,
  'playtime_2weeks': 0},
 {'item_id': '31230',
  'item_name': 'Sam & Max 302: The Tomb of Sammun-Mak',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '31240',
  'item_name': "Sam & Max 303: They Stole Max's Brain!",
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '31250',
  'item_name': 'Sam & Max 304: Beyond the Alley of the Dolls',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '31260',
  'item_name': 'Sam & Max 305: The City that Dares not Sleep',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '21090',
  'item_name': 'F.E.A.R.',
  'playtime_forever': 585,
  'playtime_2weeks': 0},
 {'item_id': '21110',
  'item_name': 'F.E.A.R.: Extraction Point',
  'playtime_forever': 146,
  'playtime_2weeks': 0},
 {'item_id': '21120',
  'item_name': 'F.E.A.R.: Perseus Mandate',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '49400',
  'item_name': 'Magic: The Gathering - Duels of the Planeswalkers',
  'playtime_forever': 32,
  'playtime_2weeks': 0},
 {'item_id': '33910',
  'item_name': 'Arma 2',
  'playtime_forever': 3,
  'playtime_2weeks': 0},
 {'item_id': '33930',
  'item_name': 'Arma 2: Operation Arrowhead',
  'playtime_forever': 3,
  'playtime_2weeks': 0},
 {'item_id': '219540',
  'item_name': 'Arma 2: Operation Arrowhead Beta (Obsolete)',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '17410',
  'item_name': "Mirror's Edge",
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '205790',
  'item_name': 'Dota 2 Test',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '50130',
  'item_name': 'Mafia II',
  'playtime_forever': 707,
  'playtime_2weeks': 0},
 {'item_id': '62100',
  'item_name': 'Chime',
  'playtime_forever': 50,
  'playtime_2weeks': 0},
 {'item_id': '31280',
  'item_name': 'Poker Night at the Inventory',
  'playtime_forever': 206,
  'playtime_2weeks': 0},
 {'item_id': '57300',
  'item_name': 'Amnesia: The Dark Descent',
  'playtime_forever': 12,
  'playtime_2weeks': 0},
 {'item_id': '21970',
  'item_name': 'R.U.S.E',
  'playtime_forever': 64,
  'playtime_2weeks': 0},
 {'item_id': '8930',
  'item_name': "Sid Meier's Civilization V",
  'playtime_forever': 10345,
  'playtime_2weeks': 0},
 {'item_id': '41000',
  'item_name': 'Serious Sam HD: The First Encounter',
  'playtime_forever': 369,
  'playtime_2weeks': 0},
 {'item_id': '41050',
  'item_name': 'Serious Sam Classic: The First Encounter',
  'playtime_forever': 76,
  'playtime_2weeks': 0},
 {'item_id': '41060',
  'item_name': 'Serious Sam Classic: The Second Encounter',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '227780',
  'item_name': 'Serious Sam Classics: Revolution',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '18040',
  'item_name': 'DeathSpank',
  'playtime_forever': 594,
  'playtime_2weeks': 0},
 {'item_id': '22380',
  'item_name': 'Fallout: New Vegas',
  'playtime_forever': 43,
  'playtime_2weeks': 0},
 {'item_id': '42700',
  'item_name': 'Call of Duty: Black Ops',
  'playtime_forever': 966,
  'playtime_2weeks': 0},
 {'item_id': '42710',
  'item_name': 'Call of Duty: Black Ops - Multiplayer',
  'playtime_forever': 2452,
  'playtime_2weeks': 0},
 {'item_id': '62000',
  'item_name': 'Flight Control HD',
  'playtime_forever': 25,
  'playtime_2weeks': 0},
 {'item_id': '40800',
  'item_name': 'Super Meat Boy',
  'playtime_forever': 119,
  'playtime_2weeks': 0},
 {'item_id': '9500',
  'item_name': 'Gish',
  'playtime_forever': 6,
  'playtime_2weeks': 0},
 {'item_id': '18700',
  'item_name': 'And Yet It Moves',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '31270',
  'item_name': 'Puzzle Agent',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '58200',
  'item_name': 'Jolly Rover',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '70400',
  'item_name': "Recettear: An Item Shop's Tale",
  'playtime_forever': 537,
  'playtime_2weeks': 0},
 {'item_id': '41300',
  'item_name': 'Altitude',
  'playtime_forever': 50,
  'playtime_2weeks': 0},
 {'item_id': '41800',
  'item_name': 'Gratuitous Space Battles',
  'playtime_forever': 149,
  'playtime_2weeks': 0},
 {'item_id': '42500',
  'item_name': 'DogFighter',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '49900',
  'item_name': 'Plain Sight',
  'playtime_forever': 23,
  'playtime_2weeks': 0},
 {'item_id': '55000',
  'item_name': 'Flotilla',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '34330',
  'item_name': 'Total War: SHOGUN 2',
  'playtime_forever': 1538,
  'playtime_2weeks': 0},
 {'item_id': '63200',
  'item_name': 'Monday Night Combat',
  'playtime_forever': 573,
  'playtime_2weeks': 0},
 {'item_id': '99810',
  'item_name': 'Bulletstorm',
  'playtime_forever': 2,
  'playtime_2weeks': 0},
 {'item_id': '620',
  'item_name': 'Portal 2',
  'playtime_forever': 887,
  'playtime_2weeks': 0},
 {'item_id': '42910',
  'item_name': 'Magicka',
  'playtime_forever': 588,
  'playtime_2weeks': 0},
 {'item_id': '15500',
  'item_name': 'The Wonderful End of the World',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '15540',
  'item_name': '1... 2... 3... KICK IT! (Drop That Beat Like an Ugly Baby)',
  'playtime_forever': 4,
  'playtime_2weeks': 0},
 {'item_id': '18500',
  'item_name': 'Defense Grid: The Awakening',
  'playtime_forever': 126,
  'playtime_2weeks': 0},
 {'item_id': '26500',
  'item_name': 'Cogs',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '35460',
  'item_name': 'The Ball',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '38700',
  'item_name': 'Toki Tori',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '38720',
  'item_name': 'RUSH',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '63700',
  'item_name': 'BIT.TRIP BEAT',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '280',
  'item_name': 'Half-Life: Source',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '20920',
  'item_name': 'The Witcher 2: Assassins of Kings Enhanced Edition',
  'playtime_forever': 1343,
  'playtime_2weeks': 0},
 {'item_id': '105600',
  'item_name': 'Terraria',
  'playtime_forever': 772,
  'playtime_2weeks': 0},
 {'item_id': '98200',
  'item_name': 'Frozen Synapse',
  'playtime_forever': 9,
  'playtime_2weeks': 0},
 {'item_id': '4500',
  'item_name': 'S.T.A.L.K.E.R.: Shadow of Chernobyl',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '4540',
  'item_name': 'Titan Quest',
  'playtime_forever': 3,
  'playtime_2weeks': 0},
 {'item_id': '4550',
  'item_name': 'Titan Quest: Immortal Throne',
  'playtime_forever': 76,
  'playtime_2weeks': 0},
 {'item_id': '9480',
  'item_name': 'Saints Row 2',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '15620',
  'item_name': 'Warhammer¬Æ 40,000‚Ñ¢: Dawn of War¬Æ II',
  'playtime_forever': 2085,
  'playtime_2weeks': 0},
 {'item_id': '20500',
  'item_name': 'Red Faction: Guerrilla Steam Edition',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '20570',
  'item_name': 'Warhammer¬Æ 40,000‚Ñ¢: Dawn of War¬Æ II - Chaos Rising‚Ñ¢',
  'playtime_forever': 69,
  'playtime_2weeks': 0},
 {'item_id': '50620',
  'item_name': 'Darksiders',
  'playtime_forever': 101,
  'playtime_2weeks': 0},
 {'item_id': '55100',
  'item_name': 'Homefront',
  'playtime_forever': 51,
  'playtime_2weeks': 0},
 {'item_id': '55140',
  'item_name': 'MX vs. ATV Reflex',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '56400',
  'item_name': 'Warhammer¬Æ 40,000‚Ñ¢: Dawn of War¬Æ II ‚Äì Retribution‚Ñ¢',
  'playtime_forever': 678,
  'playtime_2weeks': 0},
 {'item_id': '475150',
  'item_name': 'Titan Quest Anniversary Edition',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '96100',
  'item_name': 'Defy Gravity',
  'playtime_forever': 9,
  'playtime_2weeks': 0},
 {'item_id': '35450',
  'item_name': 'Rising Storm/Red Orchestra 2 Multiplayer',
  'playtime_forever': 14194,
  'playtime_2weeks': 0},
 {'item_id': '236830',
  'item_name': 'Red Orchestra 2: Heroes of Stalingrad - Single Player',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '72850',
  'item_name': 'The Elder Scrolls V: Skyrim',
  'playtime_forever': 2512,
  'playtime_2weeks': 0},
 {'item_id': '107100',
  'item_name': 'Bastion',
  'playtime_forever': 640,
  'playtime_2weeks': 0},
 {'item_id': '57690',
  'item_name': 'Tropico 4',
  'playtime_forever': 1815,
  'playtime_2weeks': 0},
 {'item_id': '91310',
  'item_name': 'Dead Island',
  'playtime_forever': 2078,
  'playtime_2weeks': 0},
 {'item_id': '113200',
  'item_name': 'The Binding of Isaac',
  'playtime_forever': 1494,
  'playtime_2weeks': 0},
 {'item_id': '65800',
  'item_name': 'Dungeon Defenders',
  'playtime_forever': 130,
  'playtime_2weeks': 0},
 {'item_id': '9200',
  'item_name': 'RAGE',
  'playtime_forever': 653,
  'playtime_2weeks': 0},
 {'item_id': '41070',
  'item_name': 'Serious Sam 3: BFE',
  'playtime_forever': 716,
  'playtime_2weeks': 0},
 {'item_id': '48950',
  'item_name': 'Greed Corp',
  'playtime_forever': 72,
  'playtime_2weeks': 0},
 {'item_id': '92800',
  'item_name': 'SpaceChem',
  'playtime_forever': 262,
  'playtime_2weeks': 0},
 {'item_id': '104700',
  'item_name': 'Super Monday Night Combat',
  'playtime_forever': 44,
  'playtime_2weeks': 0},
 {'item_id': '203770',
  'item_name': 'Crusader Kings II',
  'playtime_forever': 18,
  'playtime_2weeks': 0},
 {'item_id': '203810',
  'item_name': 'Dear Esther',
  'playtime_forever': 86,
  'playtime_2weeks': 0},
 {'item_id': '110800',
  'item_name': 'L.A. Noire',
  'playtime_forever': 1204,
  'playtime_2weeks': 0},
 {'item_id': '207610',
  'item_name': 'The Walking Dead',
  'playtime_forever': 798,
  'playtime_2weeks': 0},
 {'item_id': '98300',
  'item_name': 'Toy Soldiers',
  'playtime_forever': 110,
  'playtime_2weeks': 0},
 {'item_id': '50300',
  'item_name': 'Spec Ops: The Line',
  'playtime_forever': 296,
  'playtime_2weeks': 0},
 {'item_id': '204300',
  'item_name': 'Awesomenauts',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '1700',
  'item_name': 'Arx Fatalis',
  'playtime_forever': 0,
  'playtime_2weeks': 0},
 {'item_id': '205100',
  'item_name': 'Dishonored',
  'playtime_forever': 1429,
  'playtime_2weeks': 0},
 {'item_id': '211120',
  'item_name': 'The Political Machine',
  'playtime_forever': 1,

In [30]:
# Se revisan tipos de datos y existencias de nulos
utils.verificar_tipo_datos(df_items)

  nombre_campo        tipo_datos  no_nulos_%  nulos_%  nulos
0      user_id   [<class 'str'>]       100.0      0.0      0
1  items_count   [<class 'int'>]       100.0      0.0      0
2     steam_id   [<class 'str'>]       100.0      0.0      0
3     user_url   [<class 'str'>]       100.0      0.0      0
4        items  [<class 'list'>]       100.0      0.0      0

Este conjunto contiene 5 columnas y 88309 filas, no tiene nulos. Las columnas que contiene son:

* user_id: contiene el id del usuario.
* items_count: contiene un número entero del cual no se dispone de información sobre su significado.
* steam_id: es un número de id de stram del cuál no se dispone información.
* user_url: es la url del perfil del usuario
* items: contiene una lista de uno o mas diccionarios de los items que consume cada usuario. Cada diccionario tiene las siguientes claves:
  * item_id: es un número con el id del item.
  * item_name: es el nombre del contenido que consume.
  * playtime_forever: es un número entero del cuál no se dispone información.
  * playtime_2weeks: es un número entero del cuál no se dispone información.